<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Simple request, bokeh plotting, Flask">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>TDI 12-day ticker project</title>

	<!-- Bokeh plot -->
	<script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"
        crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Hello, User!</h2>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a target="_blank" href="https://www.heroku.com/">Heroku</a></li>
            <li><a target="_blank" href="http://flask.pocoo.org/">Flask</a></li>
            <li><a target="_blank" href="http://jinja.pocoo.org/docs/2.9/">Jinja2</a></li>
            <li><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></li>
          </ul>
        </div>
      </div>
    </div>
	<div class="container">
      <h1>Enter the ticker you would like to plot</h1>
	<div>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-warning alert-dismissable" role="alert" >
			{{ message }}
			</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>
	  
	  
      <form role="form" method='POST' action='/'>
        <div class="form-group">
          <input type="text" name="ticker" class="form-control" placeholder="GOOGL" style="max-width: 300px;" autofocus required>
        </div>
        <div class="checkbox">
		<label><input type="checkbox" name="series" value="close"> Closing price</label>
		</div>
       <div class="checkbox">
		<label><input type="checkbox" name="series" value="open"]> Opening price</label>
		</div>
       <div class="checkbox" >
		<label><input type="checkbox" name="series" value="low"> Low</label>
		</div>
       <div class="checkbox">
		<label><input type="checkbox" name="series" value="high"> High</label>
		</div>		
		<button type="submit" class="btn btn-default">Submit</button>
      </form>	  
      <br>
    </div>
	<div class="container">
          {% if script %}
            <div id="plot">
				{{script|safe}}
				{{div|safe}}
            </div>
          {% endif %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
